{% extends 'base.html' %}
{% block content %}
{% load static %}

<html lang="en">
<head>
    <title>Лабиринт Здоровья</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/digital_profile.css' %}">


</head>
<body>

    <div class="container">
        <div class="message-box">
            <p>Введите данные о вашем здоровье и получите прогноз будущего состояния вашего организма</p>
        </div>
    </div>

    <section class="container" id="fill_info">
        <div class="fill_info ">
            <div class="row">
                <div class="col">
                    <div class="form-container">
                        <div class="form-field">
                            <label style="display: flex;">Возраст</label>
                            <input type="number" id = "age" min="5" max="60" placeholder="Введите" />
                        </div>

                        <div class="form-field">
                            <label>Рост</label>
                            <input type="number" id="height" min="100" placeholder="Введите"
                                style="margin-left: 60px;" />
                        </div>

                        <div class="form-field">
                            <label>Вес</label>
                            <input type="number" id="weight" min="10" placeholder="Введите"
                                style="margin-left: 70px;" />
                        </div>

                        <div class="form-field">
                            <label>Пол</label>
                            <select id="gender" style="margin-left: 60px; border: none;">
                                <option value="male">Мужской</option>
                                <option value="female">Женский</option>
                            </select>
                        </div>

                        <div class="form-field">
                            <label>Образ<br>жизни</label>
                            <select id="lifestyle" style="margin-left: 30px; border: none;">
                                <option>Активный</option>
                                <option>Сидячий</option>
                            </select>
                        </div>

                        <div class="form-field">
                            <label>Привычки</label>
                            <div>
                                <button id="toggleButton">Выбрать</button>

                                <div id="checkboxContainer">
                                    <p><input type="checkbox"> Переедание</p><br>
                                    <p><input type="checkbox"> Курение</p><br>
                                    <p><input type="checkbox"> Алкоголь</p><br>
                                </div>

                                <script>
                                    const toggleButton = document.getElementById('toggleButton');
                                    const checkboxContainer = document.getElementById('checkboxContainer');

                                    toggleButton.addEventListener('click', () => {
                                        // Переключаем видимость контейнера с чекбоксами
                                        if (checkboxContainer.style.display === 'none' || checkboxContainer.style.display === '') {
                                            checkboxContainer.style.display = 'block';
                                            toggleButton.textContent = 'Подтвердить';
                                        } else {
                                            checkboxContainer.style.display = 'none';
                                            toggleButton.textContent = 'Выбрать';
                                        }
                                    });
                                </script>
                            </div>
                        </div>
                    </div>
                    <button class="cta-button btn" onclick="updateCharts()">Обновить график</button>
                    <script>
                        function updateCharts() {
                            const formData = {
                                age: document.getElementById('age').value,
                                height: document.getElementById('height').value,
                                weight: document.getElementById('weight').value,
                                gender: document.getElementById('gender').value,
                                lifestyle: document.getElementById('lifestyle').value,
                                habits: []
                            };

                            const habitCheckboxes = document.querySelectorAll('#checkboxContainer input[type="checkbox"]');
                            const habitLabels = document.querySelectorAll('#checkboxContainer p');

                            habitCheckboxes.forEach((checkbox, index) => {
                                if (checkbox.checked) {
                                    const habitText = habitLabels[index].textContent.replace(/\n/g, '').trim();
                                    formData.habits.push(habitText);
                                }
                            });

                            const xhr = new XMLHttpRequest();
                            xhr.open('POST', 'урлсервера', true);
                            xhr.setRequestHeader('Content-Type', 'application/json');
                            xhr.send(JSON.stringify(formData));
                        }
                    </script>
                </div>
                <div class="col">
                    <div class="chart-sections" >
                        {% for forecast in forecasts %}
                         <div class="single-chart-container" style="max-height: 300px">
                             <h3>{{ forecast.name }}</h3>
                            <canvas id="chart-{{ forecast.id }}"></canvas>
                        </div>
                        {% include "Chart.html" with forecast=forecast %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        </div>
    </section>

    <div class="container">
        <section class="wish">
            <p>Хотите получить индивидуальный план поддержания вашего здоровья?</p>
            <i class="description">Поделитесь с нами желаемым результатом вашего состояния организма, выбрав категорию и перетащив ползунок ниже</i>

            <div class="category">
                <div class="options">
                    <div class="option">Средний</div>
                    <div class="option selected">Выше среднего</div>
                    <div class="option">Идеальный</div>
                </div>
            </div>

            <div class="slider-container">
                <div class="slider">
                    <div class="thumb"></div>
                </div>
            </div>

            <button class="cta-button btn" style="margin-left: 40%; margin-bottom: 30px;">Получить план</button>

        </section>
    </div>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
{% endblock %}